@import 'variables.scss';


.fishlist {

    width: 100%;
    text-align: center;
    border-bottom: 3px double black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    span {
       color: black;
       text-shadow: 0 1px 2px rgba(0,0,0,0.20);
       letter-spacing: 0.12em;
    }
}


    button {
        margin-bottom: 10px;
        &:disabled {
            background-color:gray;
            cursor: not-allowed;
        }
    }

.fishprice {
    font-size: 1.8em;
    margin-bottom: 0;
    text-decoration: underline;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
    color:black;
    
}

ul {
    position: relative !important;
    height: 200px;
}

.fishcontainer {
    height: 730px;
    overflow: auto;

}
::-webkit-scrollbar { 
    display: none; 
}