html {
  height: 1200px; }

body {
  margin: 0;
  padding: 0; }

.col {
  border: 4px double black;
  height: 900px; }

ul {
  list-style-type: none;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px !important; }
