@import 'variables.scss';

#inventory {
    width: 100%;
    border-bottom: 5px double black;
    margin-top: 10px;
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px solid black;

    input {
        font-weight: 700;
    }
    .form-control {
        padding: 0px;
        margin: 0px;
        // background-color: white;
        text-align: center;
    }

    .btn {
        border-left: none;
        border-right: none;
        border-bottom: none;
    
    }
}

.fishwrapper {
        height: 770px;
        overflow: auto;
        
}

.loadfish {
    margin-top: 20px;
}
