@import 'variables.scss';

#inventory {
    width: 100%;
    border-bottom: 5px double black;
    margin-top: 10px;
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px solid black;
    margin-bottom: 20px;

    input {
        font-weight: 700;
    }
    .form-control {
        padding: 0px;
        margin: 0px;
        // background-color: white;
        text-align: center;
    }

    .btn {
        border-left: none;
        border-right: none;
        border-bottom: none;
    
    }
}

.fishwrapper {
        height: 750px;
        overflow: auto;
        
}

.loadfish {
    margin-top: 20px;
}


.github {
    background-color: #6cc644;
  }
  .twitter {
    background-color:#1da1f2
  }


  
a {
    @include absolutecenter(x);
}
h5 {
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}